{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block body %}
    <div class="container">
    {% for thread in threads %}
        <div class="col">
                <div class="card border-success mb-3">
                    <div class="card-header">Sujet :</div>
                    <div class="card-body">
                        <h4 class="card-title">{{ thread.subject }}</h4>
                     <p class="card-text">{{ thread.text }}</p>
                        <a href="{{path('commentaires', {id: thread.id})}}" class="btn btn-primary">Voir les commentaires</a>
                     </div>
                     </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}